name: Docker

on: [push]

jobs:
  test-docker-container:
    runs-on: ubuntu-latest
    container:
      image: node:12 
      env:
        NODE_ENV: development
    steps:
      - name: show node version
        run: node -v


